$background: #ebecee;
$base-color: #f5f6f8;
$base-shadow: #e6e6e6;

$base-bg-1: #e8eaec;
$base-bg-2: #d1d4d8;

$base-color-darker: #f2f3f6;
$base-color-darker-2: #e7e9ee;

$white: #ffffff;
$black: #000000;
$grey: grey;
$dark-grey:#777676;

$primary-color: #e0004d;
$primary-light: #ff0e61;
$primary-light-2: #ffffffc1;
$primary-dark: #d9004b;
$primary-dark-2: #b3003e;

$box-color: whitesmoke;
$box__border-color: #cfcfcf;

$label-grey:#9c999a
