@import "Colors";
@import "Input";

$alignment: left;
$font: 14px;
$padding: 8px;
$border-radius: 5px;

.modal-input {
  align-items: center;
  padding: 3px;
  min-height: 40px;
  margin: 0px;
}

.modal-label {
  font-size: 14px;
  color: $dark-grey;
  text-align: right;
  white-space: nowrap;
  font-weight: 550;
}

.modal-input__value {
  text-align: $alignment;
  margin-bottom: 10px;
  .react-datepicker-wrapper{
    width: 100%;
  }
}

.modal-input__field {
  @extend %input;
  
}

.add-new-patient {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.add-new-patient__label {
  color: $primary-color;
  padding-left: 5px;
  padding-bottom: 1px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}

.add-new-patient__icon {
  color: $primary-color;
  cursor: pointer;
}

.add-new-patient-btn-icon {
  color: $white;
  cursor: pointer;
}

.back-to-search-patients {
  color: $grey;
  cursor: pointer;
  position: absolute;
  right: 5;
}

