.heart {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.ring {
  animation-name: ringRotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes ringRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
